# Set default behaviour, in case users don't have core.autocrlf set.
text eol=lf

# These files are text and should be normalized (convert crlf => lf)
*.java       text
*.xml        text
*.cmd        text
*.sh         text
*.txt        text
*.md         text
*.js         text
*.jsp        text
*.html       text
*.htm        text
*.vm         text
.project     text
.classpath   text
*.properties text
*.txt        text
*.bat        text
*.launch     text
*.pfc	text
*.pl	text
* text

# Denote all files that are truly binary and should not be modified.
&.pdf 	binary
*.png    binary
*.jpg    binary
*.jar    binary
*.class  binary
*.gz     binary
*.tar    binary
*.dll    binary
*.exe    binary
*.zip    binary
pack/logicmoo_nlu/prolog/candc/bin-old/* binary
*. binary
* linguist-language=Prolog
*.pfc linguist-language=Prolog
*.plt linguist-language=Prolog
*.plmoo linguist-language=Prolog
*.pl linguist-language=Prolog
*.P linguist-language=Prolog
*_old linguist-language=Prolog
*.p linguist-language=Prolog

