syntax: glob
**/INDEX.pl
#pack/*/
pack/logicmoo_nlu/prolog/stanford-corenlp3.5.2-ALL.jar
*.bak
*.ori
*.pl~
*.qlf
*.rar
*.vtg
rn2.pl
#*.zip
*.log.html
*lock
*merge_me*
*~
~*
.DS_Store
.git/
.hg/
.svn/
applet
application.linux32
application.linux64
application.macosx
application.windows32
application.windows64
core

