syntax: glob
**/INDEX.pl
#pack/*/
pack/logicmoo_nlu/prolog/stanford-corenlp3.5.2-ALL.jar
*.bak
*.ori
*.pl~
*.qlf
*.rar
*.vtg
*.abcl
rn2.pl
#*.zip
*.log.html
*lock
*merge_me*
*~
~*
.DS_Store
.git/
.hg/
.svn/
applet
application.linux32
application.linux64
application.macosx
application.windows32
application.windows64
core
hMUD/
LogicMOO.vpwhist
logicmoo.wiki/
logwumpus
saved_cached_queries
src/moo_settings.db
savedb
temp/*
wiki/
withvars_988.*
#pack/chrrp
pack/ClioPatria
pack/ClioPatria.SAVED~
pack/Downloads
pack/eggdrop
pack/emonic
pack/func
pack/function_expansion
pack/list_util
pack/metastudio~
pack/phase02-jrtl
pack/pldata_larkc
pack/RemoteSystemsTempFiles
pack/slack_prolog/
pack/swicli
pack/swish
pack/prologmud_sample/bin/
pack/prologmud_sample/RDF-store/
pack/prologmud_sample/cache/
pack/prologmud_sample/conf/
pack/prologmud_sample/data/
pack/prologmud_sample/httpd/
pack/prologmud_sample/init/
pack/prologmud_sample/lib/
pack/prologmud_sample/log/
pack/prologmud_sample/preferences/
pack/prologmud_sample/patches/
pack/prologmud_sample/mybowl.ser
pack/prologmud_sample/target/
pack/prologmud_sample/transcripts/
pack/prologmud_sample/units/
pack/prologmud_sample/webapps/
pack/prologmud_sample/cpack-mirrors
pack/prologmud_sample/cpack
pack/prologmud_sample/daydreamer
pack/prologmud_sample/users.db
pack/prologmud_sample/e2c
pack/prologmud_sample/hmud
pack/prologmud_sample/HP/
pack/prologmud_sample/storage
pack/prologmud_sample/.*
pack/prologmud_sample/AWTRemoteApplet.html
pack/prologmud_sample/abcl.bat
pack/prologmud_sample/abcl.sh
pack/prologmud_sample/abclc
pack/prologmud_sample/b.xml
pack/prologmud_sample/*.iml
pack/prologmud_sample/*.lisp
pack/prologmud_sample/composer.json
pack/prologmud_sample/run-cyc-java.*
pack/prologmud_sample/test-suite.km
pack/prologmud_sample/*.log
pack/prologmud_sample/cache/*
pack/prologmud_sample/store/*
pack/.metadata/
pack/.recommenders/
pack/runtime/
pack/runtime/*
pack/logicmoo_nlu/prolog/pldata/current_kb.pl
pack/logicmoo_base/prolog/logicmoo/mpred/examples.pl
pack/logicmoo_base/prolog/logicmoo/mpred/mpred.pl
pack/logicmoo_base/prolog/logicmoo/mpred/mpred_expansion.pl.txt
pack/logicmoo_base/prolog/logicmoo/mpred/testMotel.pl
pack/logicmoo_base/prolog/logicmoo/util/logicmoo_util_shared_dynamic.txt
pack/logicmoo_nlu/prolog/Parser_SUPPLE/prolog-impls/sicstus/classes/shef/nlp/supple/prolog/AbstractSICStusProlog.class
pack/logicmoo_nlu/prolog/Parser_SUPPLE/prolog-impls/sicstus/classes/shef/nlp/supple/prolog/SICStusProlog.class
pack/logicmoo_nlu/prolog/Parser_SUPPLE/prolog-impls/sicstus/classes/shef/nlp/supple/prolog/SICStusProlog3.class
pack/logicmoo_nlu/prolog/Parser_SUPPLE/prolog-impls/sicstus/classes/shef/nlp/supple/prolog/SICStusProlog4.class
pack/logicmoo_nlu/prolog/pldata/e2c_data
pack/prologmud_sample/JDemoApplet.html
pack/logicmoo_planner/prolog/reasoner/decreasoner/
