<config> 
  <host>127.0.0.1</host>
  <port>6363</port>
  <numplayers>5</numplayers>
  <players>
    <player  number="1" equipo="propio" >Lego1</player>
    <player  number="2" equipo="propio" >spot2</player>
    <player  number="3" equipo="propio" >spot3</player>
    <player  number="1" equipo="contrario" >spot4</player>
    <player  number="2" equipo="contrario" >spot5</player>
    <player  number="3" equipo="contrario" >car54</player>
    <player  number="0" equipo="pelota" >ball1</player>
  </players>
</config>
