<config>
<!--   <environment>real</environment> -->
<!--   <video_server hostname="10.0.10.10" port="6363"> -->
<!--   </video_server>   -->
<!--   <command_server hostname="10.0.10.10" port="8765"> -->
<!--   </command_server>   -->
<!--   <anchoArea>900</anchoArea> -->
<!--   <altoArea>541</altoArea> -->
<!--   <anchoAreaChica>690</anchoAreaChica> -->
<!--   <altoAreaChica>222</altoAreaChica> -->
<!--   <arco_alto X1="2785" Y1="682" X2="2785" Y2="1343"> </arco_alto> -->
<!--   <arco_bajo X1="339" Y1="682" X2="331" Y2="1343">  </arco_bajo> -->
<!--   <field     X1="215" Y1="75" X2="2952" Y2="1870">  </field> -->
<!--   <numplayers>3</numplayers> -->
<!--   <players doraemon_id="0" > -->
<!--     <player  number="1" team="propio" role="prueba1">blue1</player> -->
<!--     <player  number="2" team="propio" role="prueba">blue2</player> -->
<!--     <player  number="3" team="propio" role="prueba">blue3</player> -->
<!-- <\!--     <player  number="2" team="propio" role="puntor">blue2</player> -\-> -->
<!--   </players> -->
<!--   <ball doraemon_id="1">ball1</ball> -->

  <environment>simulado</environment>
  <video_server hostname="127.0.0.1" port="6363">
  </video_server>  
  <command_server hostname="127.0.0.1" port="6366">
  </command_server>  
  <anchoArea>14</anchoArea>
  <altoArea>31</altoArea>
  <anchoAreaChica>6</anchoAreaChica>
  <altoAreaChica>15.5</altoAreaChica>
  <!-- <accionesPrev>[0,0,0,0,0,0,0,0,0,0]</accionesPrev> -->
  <!-- <accionesProm>[0,0,0,0,0,0,0,0,0,0]</accionesProm> -->
  <arco_alto X1="93.4259" Y1="33.9320" X2="93.4259" Y2="49.6801"> </arco_alto>
  <arco_bajo X1="6.8118" Y1="33.9320" X2="6.8118" Y2="49.6801">  </arco_bajo>
  <field     X1="6.8118" Y1="6.3730" X2="93.4259" Y2="77.2392">  </field>
  <numplayers>5</numplayers>
  <players>
    <player  number="5" team="propio" role="quieto">kechu</player>
    <player  number="4" team="propio" role="quieto">meli</player>
    <player  number="3" team="propio" role="prueba">kula</player>
    <player  number="2" team="propio" role="quieto">epu</player>
    <player  number="1" team="propio" role="arquero">kiñe</player>
    <player  number="5" team="contrario" >spot5</player>
    <player  number="4" team="contrario" >spot4</player>
    <player  number="3" team="contrario" >spot3</player>
    <player  number="2" team="contrario" >spot2</player>
    <player  number="1" team="contrario" >spot1</player>
  </players>

</config>
